.btn-success,
.btn-success:active,
.btn-success:visited {
  background-color: #6C63FF !important;
  border: none;
}

.btn-success:hover {
  background-color: #3f35fa !important;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
}

body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  zoom: 80%;
}

.parent-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: white;
}

.parent-div-order-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    background: linear-gradient(0deg, aliceblue, transparent);
}

.parent-div-products-page{
  background: linear-gradient(0deg, aliceblue, transparent);
  min-height: -webkit-fill-available;
}

.parent-div-addcustomer-page{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: linear-gradient(0deg, aliceblue, transparent);
}

.form-to-play {
    padding: 50px 0px 50px 0px;
    background: whitesmoke;
    border-radius: 6px;
    box-shadow: 0px 4px 7px 0px #8a8a8a2e;
}

/*header css*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #424242;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 1px 0 10px black;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.dot {
  margin-right: 5px;
  height: 25px;
  width: 25px;
  background-color: #6C63FF;
  border-radius: 50%;
  display: inline-block;
}

.color-circle{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}


.agent-username {
  text-transform: capitalize;
}


/*customers.html*/
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


/* Products page CSS */

.card{
  box-shadow: 0px 2px 6px #bfbfbf;
  border: none;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.5rem;
}
.card-title{
  margin-bottom: .75rem;
  display: block;
  white-space: nowrap;
  width: 12em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
}

.product-picture{
  background: no-repeat 50%;
    background-size: cover;
    height: 100%;
    position: relative;
}

.product-retail-price{
  background-color: red;
  color: white;
  display: inline-block;
  float: left;
  clear: both;
  border-radius: 0px 3px 3px 0px;
}
.product-wholesale-price{
  background-color: greenyellow;
  color: #424242;
  display: inline-block;
  float: left;
  clear: both;
  border-radius: 0px 3px 3px 0px;
}

.product-page-retail-price{
  background-color: red;
  color: white;
  display: inline-block;
  clear: both;
  border-radius: 0px 3px 3px 0px;
}
.product-page-wholesale-price{
  background-color: greenyellow;
  color: #424242;
  display: inline-block;
  clear: both;
  border-radius: 0px 3px 3px 0px;
}

card a:before{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0,0,0,0);
}

.small, small{
  font-size: 80%;
  font-weight: bold;
}

/*background: linear-gradient(297deg, aliceblue, transparent);*/

/*detailed product page CSS*/


/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h3 {
  color: #43484D;
}
.product-description p {
  color: #3a3a3a;
}

/* Product Color */
.product-color {
  margin-bottom: 30px;
}

/*Quantity grids */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
}
 
.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
 
.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}
 
.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
 
.cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }
 
  .left-column,
  .right-column {
    width: 100%;
  }
 
  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}
 
@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}