{% extends "agents/layout.html" %}

{% block title %}
  {% if user%}
    {{user.username|capfirst}} | Agent
  {% endif %}
{% endblock %}



{% block body %}

{% include "agents/sidenav.html" %}
    <div class="parent-div-order-page ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6 offset-xs-1 offset-sm-1 offset-md-2 offset-lg-3">
                    <div class="form-to-play">
                                    {% if customers %}
                                    <form action="{% url 'agents:customers' user.username %}" method="post">
                                        <div class="form-group row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                              <div class="row no-gutters">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    {% csrf_token %}
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                        <label for="customer" class=" col-form-label">Choose a customer: </label>
                                                        <select name="customer" id="customer">
                                                                {% for customer in customers %}
                                                                    <option value="{{customer.id}}">{{customer.name}}</option>
                                                                {% endfor %}    
                                                        </select>
                                                </div>
                                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                    <input class="btn btn-success btn-sm" type="submit" value="Continue">
                                                </div>
                                                
                                                
                                              </div>
                                            </div>
                                        </div>
                                        
                                        
                                      </form>
                                      {% endif %}
                    </div>  
                            
                    <div class="pt-5">
                                <div style="width: 50%;" class="btn-group" role="group">
                                    &nbsp;
                                    <a href="{% url 'agents:add_customer' user.username %}" id="submit-button" type="button" class="btn btn-success btn-lg">Add new customer</a>
                            
                                </div>
                    </div>
                          
                </div>
            </div>
        </div>
    </div>
        

{% endblock %}