{% extends "agents/layout.html" %}
{% load static %}
{% block title %}
  {% if user%}
    Cliente | {{user.username|capfirst}}
  {% endif %}
{% endblock %}



{% block body %}

{% include "agents/sidenav.html" %}
    <div class="parent-div-products-page ">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 mt-1 mb-3">
                    <div style="float: right;" class="btn-group" role="group">
                        <small>Crea Nuovo Cliente? &nbsp;<a href="{% url 'agents:add_customer' user.username %}">Clicca qui</a></small>
                    </div>
                </div>
                {% if customers %}
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="customers_table" class="table table-striped">
                                <thead>
                                <tr>
                                    <th align="center">Sr #</th>  
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th>Numero di Telefono</th>
                                    <th>Regione</th>
                                    <th>Indirizzo di Fatturazione</th>
                                    <th>Indirizzo di Consegna</th>
                                    <th>P.Iva</th>
                                    <th>Azione</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for customer in customers %}
                                <tr class="col-form-label col-form-label-sm">
                                        <td align="center">{{ forloop.counter }}</td>
                                        <td>{{customer.name|capfirst}}</td>
                                        <td>{{customer.email}}</td>
                                        <td>{{customer.phone}}</td>
                                        <td>{{customer.region|capfirst}}</td>
                                        <td>{{customer.billing_address}}</td>
                                        <td>{{customer.delivery_address}}</td>
                                        <td>{{customer.vat_number}}</td>
                                        <td>
                                            <a href="{% url 'agents:redirectToProducts' customer.id %}" class="btn btn-success btn-sm">Continua <i class="fas fa-arrow-circle-right"></i></a>
                                        </td>
                                    
                                    
                                </tr>
                                {% endfor %} 
                                </tbody>
                            </table>
                        </div>   
                    </div>
                {% else %}
                    <div align="center" class="col-12 mt-5">
                        <img class="w-25" src="{% static 'agents/images/not_found.svg' %}"/>
                        <h5 class="col-form-label col-form-label-md pt-3">Nessun cliente esiste.</h5>
                      </div>
                {% endif %}
            </div>
        </div>
    </div>
        

{% endblock %}